<h2>Log In</h2>
<div fxLayout="column" *ngIf="!userService.token">
  <div>
    <mat-form-field>
    <label>Username:</label><br />
    <input matInput type="text" name="login-username" [(ngModel)]="user.username">
    </mat-form-field>
    <span *ngFor="let error of userService.errors.username"><br />
      {{ error }}</span></div>
  <div>
    <mat-form-field>
      <label>Password:</label>
      <input matInput type="password" name="login-password" [(ngModel)]="user.password">
    </mat-form-field>
    <span *ngFor="let error of userService.errors.password"><br />
      {{ error }}</span>
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div>
      <a routerLink="/register">Register</a>
    </div>
    <div>
      <button mat-raised-button (click)="login()" class="btn btn-primary">Log In</button>
    </div>
  </div>

  <div>
    <span *ngFor="let error of userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>
<div class="row" *ngIf="userService.token">
  <div class="col-sm-12">You are logged in as {{ userService.username }}.<br />
    Token Expires: {{ userService.token_expires }}<br />
    <button mat-raised-button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
    <button mat-raised-button (click)="logout()" class="btn btn-primary">Log Out</button>
  </div>
</div>
