<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li *ngIf="userService.token">
        <a routerLink="/newrecipe">New recipe</a>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="!userService.token">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="userService.token">
        <a routerLink="/profile">{{userService.username}}</a>
      </li>
    </ul>
  </div>
</mat-toolbar>



