<script src="../register/register.component.ts"></script>
<script src="../recipes/recipes.component.ts"></script>
<div fxLayout="row">
  <div fxFlex><img src="{{BACKEND_WEB_URL}}{{recipe.imageurl}}"></div>
  <div *ngIf="userService.token" fxFlex fxFlexOffset="20" class="action_section">
    <button mat-raised-button color="primary" (click)="startCooking()">Start cooking</button>
  </div>
</div>


<h1>{{recipe.name}}</h1>
<h4>{{recipe.description}}</h4>

<h3>Ingredients</h3>

<table>
  <tr *ngFor="let ingredient of ingredients">
    <td>{{ingredient.amount}} {{ingredient.unit}}</td>
    <td>{{ingredient.name}}</td>
  </tr>
</table>


<h3>Preparation</h3>

<mat-list>
  <mat-list-item *ngFor="let workstep of worksteps; last as last">
    {{workstep.description}}
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>




